#banner{
    margin-top: 10px;
    position: relative;    
}

#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;  
    
    
}

.slogan{
    position: absolute;
    font-size: 28px;
    background:rgba(180, 38, 140, 0.5);
    color: white;   
    margin-left: 120px;
    height: 35px;
   
}

.contenedor-slogan{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    margin: auto;  
    width: 100%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;

}


.ultext{
    list-style: none;
    margin-left: 307px;
    padding-left: 8px;
    background:rgba(180, 38, 140, 0.5);
    font-size: 28px;
    margin-top: 5px;
    position: absolute;
    width: auto;
    text-align: left;

    animation: changeText 14s infinite;
    
}

ul, p{
    margin: 0;    

}

#banner a{
    display: block;
    width: 120px;
    color: #fff;
    text-decoration: none;
    height: 35px;
    margin-top: 45px;
    margin-left: 100px;
    /*border: 3px solid #fff;*/
    border: none;
    background:  rgba(180, 38, 140, 0.5);
    transition: 0.5s;
}

#banner a:hover{
    background: rgba(26,176,218,0.4);
    transition: 0.5s;
}

/* slider */
#banner .banner-slider {
    width: 100%;
    height: 500px;
	margin: auto;
	overflow: hidden;
}
.banner-slider ul {
	display: flex;
	padding: 0;
	width: 300%;
    animation: cambio 15s infinite alternate ease-in;
  
}

.banner-slider li {
    width: 100%; 
	list-style: none;
}

.banner-slider img {
    width: 100%;
    
	display:block;
    margin:auto;
}

/* funcion del texto*/
@keyframes changeText {

    0%{margin-top: 0;}
    20%{margin-top: 0;}	
    
    25%{margin-top: -35px;}
    50%{margin-top: -35px;}
    
    55%{margin-top: -70px;}
    80%{margin-top: -70px;}

    85%{margin-top: -35px;}
    90%{margin-top: -35px;}

    100%{margin-top: 0;}

}


/* funcion del slider*/

@keyframes cambio {
	0%{margin-left: 0;}
	30%{margin-left: 0;}

	35%{margin-left: -100%;}
	65%{margin-left: -100%;}

	70%{margin-left: -200%;}
	100%{margin-left: -200%;}
}

@media(min-width:768px){
    #banner {
        height: 300px;
        overflow: hidden;
    }

    #banner img{
        height: auto;
        margin-top: -100px;
    }
}