/* Fonts Lexend Deca
integrar la fuente -- font-family: 'Lexend Deca', sans-serif;

font-family: 'Oswald', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Cuprum', sans-serif;
font-family: 'Exo 2', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cuprum|Exo+2:600|Merriweather+Sans|Oswald&display=swap');

@import url('navbar.css');
@import url('banner.css');
@import url('pensum.css');
@import url('cardsviews.css');
@import url('clasificados.css');
@import url('perfil.css');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Exo 2', sans-serif;
	/*background-image: radial-gradient( rgba(26,176,218,0.6),white );*/
	/*background-image: linear-gradient(to top,white, rgba(26,176,218,0.9),white );*/
	background: #fff;
	text-align: center;
}
.slogan-2{
    font-size: 28px;
    background:#a9cd42;
	color: white;
	border-radius: 1px ;

}
.contenedor{
	width: 98%;
	margin: auto;
}

.contenedorN{
	width: 90%;
	margin: auto;
        background-color:rgba(26,176,218,0.7);
        
}
.Titulo-1{
    text-align: left;
     padding-left: 10px;
     padding-top: 10px;
     color: white;
}
.parrafor-2{
    text-align: justify;
    padding-top: 10px;
    padding-left:55px; 
    padding-right:55px; 
    color: white;
}

section{
	width: 100%;
	margin-bottom: 25px;
}


/* footer */

footer .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
	background-color: #a9cd42;
	color: white;
	height: 150px;
	position: relative;
	bottom: 0%;	
	
}

.copy{
	font-size: 20px;
	margin-top: 100px;
	background: #1ab0da;
	border-radius: 5px;
	width: 300px;
        position: absolute;
        text-align: center;
}

.sociales{
	float: left;
	width: 100%;
	text-align: center;
	font-size: 28px;
	margin-top: 40px;
	position: absolute;
}

.sociales a{
	color: white;
	text-decoration: none;
	float:center;
	margin-right: 5px;
	margin-top: 5px;
	transition: 0.5s;
	
}

.sociales a:hover{
	color: rgba(180, 38, 140, 0.9);
	transition: 0.5s;
}

